<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ web_title }}</title>
  </head>
  <body>
    <h1>{{ web_title }}</h1>

    <h1>pengecekan usia berdasarkan tahun lahir</h1>

    <form method="POST" action="/usia">
      <label>masukan tahun lahir</label>
      <input type="number" name="tahun_lahir" />
      <button type="submit">hitung usia</button>
    </form>

    {% if usia is not none %}
    <p>usia kamu adalah {{usia}}</p>
    {% endif %}

    <a href="/">Home page</a>
  </body>
</html>
